
<nav>
    <div class="nav">
        <img src="/img/logo.png" class="logo" alt="logo">
            <div class="nav-buttons">
                <button class="account_button"> 
                    <div class="wrap"> 
                        <img src="/img/profile.png" class="account"> 
                        <div class="text"> My Account </div>
                    </div>
                </button>
                <button class="post_ad"> Post an Ad </button>
            </div>
    </div>
</nav>
<main>
    <div class="about-us-img">
        <img src="/img/office_space.jpeg" class="office-img">
    </div>

    <div class="about-us-container">
        <h5 class="title-about-us">ABOUT US</h5>
        <p class="about-us-content">
            Craigslist (stylized as craigslist) is an American classified advertisements website with sections devoted to jobs, housing, for sale, items wanted, services, community service, gigs, résumés, and discussion forums. <br>
            <br>
            Craig Newmark began the service in 1995 as an email distribution list to friends, featuring local events in the San Francisco Bay Area. It became a web-based service in 1996 and expanded into other classified categories. It started expanding to other U.S. cities in 2000, and now covers 70 countries. <br>
            <br>
            In March 2008, Spanish, French, Italian, German, and Portuguese became the first non-English languages Craigslist supported.[5] As of August 9, 2012, over 700 cities and areas in 70 countries had Craigslist sites.[6] Some Craigslist sites cover large regions instead of individual metropolitan areas—for example, the U.S. states of Delaware and Wyoming, the Colorado Western Slope, the California Gold Country, and the Upper Peninsula of Michigan are among the locations with their own Craigslist sites.[7] Craigslist sites for some large cities, such as Los Angeles, also include the ability for the user to focus on a specific area of a city (such as central Los Angeles). <br>
            <br>
            Craigslist (stylized as craigslist) is an American classified advertisements website with sections devoted to jobs, housing, for sale, items wanted, services, community service, gigs, résumés, and discussion forums.
        </p>

        <div class="about-us-bottom-container">
            <div class="about-us-contact">
                <h5>CONTACT US</h5>
                    <div class="contact-us-icon-container">
                        <img src="/img/facebook-new-1.png" class="contact-us-icon">
                        <img src="/img/twitter_1.png" class="contact-us-icon">
                        <img src="/img/instagram-new-1.png" class="contact-us-icon">
                        <img src="/img/phone-1.png" class="contact-us-icon">
                    </div>
            </div>
            <div class="about-us-career">
                <div class="about-us-bottom-subcontainer">
                    <h5>CAREERS</h5>
                    <p class="about-us-bottom-content">
                        Visit INSERT LINK HERE
                        for more information 
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="centered">
    <table class="myTable">
        <tr>
            <td>
                <h3>Craigslist</h3>
                <a href="aboutus">About Us</a><br>
                <br>
                <a href="">Careers</a><br>
                <br>
                <a href="aboutus">Contact Us</a><br>
                <br>
                <a href="">Forum</a><br>
            </td>
            <td>
                        <h3>Info</h3>
                <a href="termsandcondition">Terms & Conditions</a><br>
                <br>
                <a href="termsandcondition">Privacy Policy</a><br>
                <br>
                <a href="events">Events</a><br>
            </td>
            <td>
                        <h3>Support</h3>
                <a href="">Frauds</a><br>
                <br>
                <a href="">Tips</a><br>
                <br>
                <a href="">Q&A</a><br>
                <br>
                <a href="">Setting</a><br>
            </td>
        </tr>
    </table>
  </footer>