<nav>
    <div class="nav">
        <img src="/img/logo.png" class="logo" alt="logo">
            <div class="nav-buttons">
                <button class="account_button"> 
                    <div class="wrap"> 
                        <img src="/img/profile.png" class="account"> 
                        <div class="text"> My Account </div>
                    </div>
                </button>
                <button class="post_ad"> Post an Ad </button>
            </div>
    </div>
</nav>

<main>
    <form>
    <div class="post-ad-title">
        <h4> Post an Ad </h4>
    </div>
    <div class="post-ad-container">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Location</label>
                <select class="custom-select">
                    <option selected>Province</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">What kind of app are you posting?</label>
                <select class="custom-select">
                    <option selected>Type of Ad</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">What are you selling?</label>
                <select class="custom-select">
                    <option selected>Category</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
    </div>

    <button type="button" class="continue-button">Continue</button>

    </form>
</main>

<footer class="centered">
    <table class="myTable">
        <tr>
            <td>
                <h3>Craigslist</h3>
                <a href="aboutus">About Us</a><br>
                <br>
                <a href="">Careers</a><br>
                <br>
                <a href="aboutus">Contact Us</a><br>
                <br>
                <a href="">Forum</a><br>
            </td>
            <td>
                        <h3>Info</h3>
                <a href="termsandcondition">Terms & Conditions</a><br>
                <br>
                <a href="termsandcondition">Privacy Policy</a><br>
                <br>
                <a href="events">Events</a><br>
            </td>
            <td>
                        <h3>Support</h3>
                <a href="">Frauds</a><br>
                <br>
                <a href="">Tips</a><br>
                <br>
                <a href="">Q&A</a><br>
                <br>
                <a href="">Setting</a><br>
            </td>
        </tr>
    </table>
  </footer>