<nav>
    <div class="nav">
        <div class="logo-container">
          <a href="/">
            <img src="/img/logo.png" class="logo" alt="logo">
          </a>
        </div>
        <div class="nav-buttons">
            <form action="myAccount">
              <button class="account_button" type="submit"> 
                  <div class="wrap"> 
                      <img src="/img/profile.png" class="account"> 
                      <div class="text"> My Account </div>
                  </div>
              </button>
            </form>
            <form action="postad">
              <input type="submit" value="Post an Ad" class="post_add">
            </form>
        </div>
    </div>
</nav>

<main>
    <div class="post-ad-title">
        <h4> Post an Ad </h4>
    </div>
    <form class="ad-form" action="/continuePostAd" method="GET">
    <div class="post-ad-container">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Location</label>
                <select class="custom-select" name="location_id" required>
                    <option selected>Province</option>
                    <option value="Canada">Canada</option>
                    <option value="US">United States</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">What kind of ad are you posting?</label>
                <select class="custom-select" name="ad_id" required>
                    <option selected>Type of Ad</option>
                    <option value="Business">Business</option>
                    <option value="Personal">Personal</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">What are you selling?</label>
                <select class="custom-select" name="item_category_id" required>
                    <option selected>Category</option>
                    <option value="Jewelry">Jewelry</option>
                    <option value="House">House</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Cell Phone">Cell Phone</option>
                    <option value="Food">Food</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">What is the condition?</label>
                <select class="custom-select" name="condition" required>
                    <option selected>Category</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                    <option value="Bad">Bad</option>
                    <option value="Very Bad">Very Bad</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Prefer method of payment?</label>
                <select class="custom-select" name="method_of_payment" required>
                    <option selected>Category</option>
                    <option value="Cash">Cash</option>
                    <option value="Cheque">Cheque</option>
                    <option value="E-transfer">E-transfer</option>
                    <option value="Cryptocurrency">cryptocurrency</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Best way of communication?</label>
                <select class="custom-select" name="method_of_communication" required>
                    <option selected>Category</option>
                    <option value="Message on craigslist">Message on craigslist</option>
                    <option value="Phone">Phone</option>
                    <option value="E-mail">E-mail</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Negotiable?</label>
                <select class="custom-select" name="negotiable" required>
                    <option selected>Category</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
    </div>

    <div class="continue-button-container">
            <button type="submit" class="continue-button">Continue</button>
    </div>

    </form>
</main>

<footer class="centered">
    <div class="myTable">
        <div class="craigslist-container">
            <h4 class="footer-head">Craigslist</h4>
                <br>
                <a href="aboutus" class="text-my-own-color" >About Us</a><br>
                <br>
                <a href="" class="text-my-own-color">Careers</a><br>
                <br>
                <a href="aboutus" class="text-my-own-color">Contact Us</a><br>
                <br>
                <a href="" class="text-my-own-color">Forum</a><br>
        </div>
        <div class="info-container">
            <h4 class="footer-head">Info</h4>
                <br>
                <a href="termsandcondition" class="text-my-own-color">Terms & Conditions</a><br>
                <br>
                <a href="termsandcondition" class="text-my-own-color">Privacy Policy</a><br>
                <br>
                <a href="events" class="text-my-own-color">Events</a><br>
        </div>
        <div class="support-container">
            <h4 class="footer-head">Support</h4>
                <br>
                <a href="" class="text-my-own-color">Frauds</a><br>
                <br>
                <a href="" class="text-my-own-color">Tips</a><br>
                <br>
                <a href="" class="text-my-own-color">Q&A</a><br>
                <br>
                <a href="" class="text-my-own-color">Setting</a><br>
        </div>
    </div>
</footer>