<nav>
    <div class="nav">
        <div class="logo-container">
          <a href="/">
            <img src="/img/logo.png" class="logo" alt="logo">
          </a>
        </div>
        <div class="nav-buttons">
            <form action="myAccount">
              <button class="account_button" type="submit"> 
                  <div class="wrap"> 
                      <img src="/img/profile.png" class="account"> 
                      <div class="text"> My Account </div>
                  </div>
              </button>
            </form>
            <form action="postad">
              <input type="submit" value="Post an Ad" class="post_add">
            </form>
        </div>
    </div>
</nav>

<main>
    <div class="post-ad-title">
        <h4> Post an Ad </h4>
    </div>
    <form class="ad-form" action="continuePostAd">
    <div class="post-ad-container">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Location</label>
                <select class="custom-select" name="location_id" required>
                    <option selected>Province</option>
                    <option value="1">Canada</option>
                    <option value="2">United States</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">What kind of ad are you posting?</label>
                <select class="custom-select" name="ad_id" required>
                    <option selected>Type of Ad</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">What are you selling?</label>
                <select class="custom-select" name="item_category_id" required>
                    <option selected>Category</option>
                    <option value="1">Electronic</option>
                    <option value="2">Kitchen</option>
                    <option value="3">Clothes</option>
                </select>
            </div>
    </div>

    <div class="continue-button-container">
            <button type="submit" class="continue-button">Continue</button>
    </div>

    </form>
</main>

<footer class="centered">
    <div class="myTable">
        <div class="craigslist-container">
            <h4 class="footer-head">Craigslist</h4>
                <br>
                <a href="aboutus" class="text-my-own-color" >About Us</a><br>
                <br>
                <a href="" class="text-my-own-color">Careers</a><br>
                <br>
                <a href="aboutus" class="text-my-own-color">Contact Us</a><br>
                <br>
                <a href="" class="text-my-own-color">Forum</a><br>
        </div>
        <div class="info-container">
            <h4 class="footer-head">Info</h4>
                <br>
                <a href="termsandcondition" class="text-my-own-color">Terms & Conditions</a><br>
                <br>
                <a href="termsandcondition" class="text-my-own-color">Privacy Policy</a><br>
                <br>
                <a href="events" class="text-my-own-color">Events</a><br>
        </div>
        <div class="support-container">
            <h4 class="footer-head">Support</h4>
                <br>
                <a href="" class="text-my-own-color">Frauds</a><br>
                <br>
                <a href="" class="text-my-own-color">Tips</a><br>
                <br>
                <a href="" class="text-my-own-color">Q&A</a><br>
                <br>
                <a href="" class="text-my-own-color">Setting</a><br>
        </div>
    </div>
</footer>