<nav>
    <!-- <form action="/logout?_method=DELETE" method="POST">
        <button type="submit"> Log Out</button>
    </form> -->
    <div class="nav">
        <img src="/img/logo.png" class="logo" alt="logo">
            <div class="nav-buttons">
                <button class="account_button"> 
                    <div class="wrap"> 
                        <img src="/img/profile.png" class="account"> 
                        <div class="text"> My Account </div>
                    </div>
                </button>
                <button class="post_ad"> Post an Ad </button>
            </div>
    </div>
</nav>

<main>
    <div class="sub-nav">
        <div class="form-input">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Country
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>

    <button type="button" class="see-more-text">View more</button>

</main>

<footer class="centered">
    <table class="myTable">
        <tr>
            <td>
                <h3>Craigslist</h3>
                <a href="aboutus">About Us</a><br>
                <br>
                <a href="">Careers</a><br>
                <br>
                <a href="aboutus">Contact Us</a><br>
                <br>
                <a href="">Forum</a><br>
            </td>
            <td>
                        <h3>Info</h3>
                <a href="termsandcondition">Terms & Conditions</a><br>
                <br>
                <a href="termsandcondition">Privacy Policy</a><br>
                <br>
                <a href="events">Events</a><br>
            </td>
            <td>
                        <h3>Support</h3>
                <a href="">Frauds</a><br>
                <br>
                <a href="">Tips</a><br>
                <br>
                <a href="">Q&A</a><br>
                <br>
                <a href="">Setting</a><br>
            </td>
        </tr>
    </table>
  </footer>