<nav>
    <form method="POST" action="/">
      <div class="homepage-container">
        <button class="homepage" type="submit">Back to homepage </button>
      </div>
    </form>
</nav>
<!-- **********************************Nav**********************************!-->


<!-- **********************************Main**********************************!-->
<main>
<div class="main-login">
    <div class="logo-container">
        <img src="img/logo.png" class="logo" alt="logo">
    </div>

    <section class="login-container">
    <form class="login-form" action="/signup" method="POST">
        <div class="login-title">
            <h1> Sign Up </h1>
        </div>
        <div class="form-group">
            <label for="name"></label>
            <input type="text" class="form-control" id="name" placeholder="Firstname" aria-label="Firstname" aria-describedby="basic-addon1" required>
          </div>
          <div class="form-group">
            <label for="lastname"></label>
            <input type="text" class="form-control" id="lastname"placeholder="Lastname" aria-label="Lastname" aria-describedby="basic-addon1" required>
          </div>
        <div class="form-group">
          <label for="email"></label>
          <input type="email" class="form-control" placeholder="Email Address" id="email" aria-describedby="emailHelp" required>
        </div>
        <div class="form-group">
          <label for="password"></label>
          <input type="password" class="form-control" placeholder="Password" id="password" required>
        </div>
        <div class="button-container">
          <button type="submit" class="login-button"> Sign Up </button>
          <a href="/login">Already a member?</a>
        </div>
      </form>
    </section>
</div>
</main>
<!-- **********************************Main**********************************!-->

<!-- **********************************Footer**********************************!-->
<footer class="centered">
  <table class="myTable">
      <tr>
          <td>
              <h3>Craigslist</h3>
              <a href="aboutus">About Us</a><br>
              <br>
              <a href="">Careers</a><br>
              <br>
              <a href="aboutus">Contact Us</a><br>
              <br>
              <a href="">Forum</a><br>
          </td>
          <td>
                      <h3>Info</h3>
              <a href="termsandcondition">Terms & Conditions</a><br>
              <br>
              <a href="termsandcondition">Privacy Policy</a><br>
              <br>
              <a href="events">Events</a><br>
          </td>
          <td>
                      <h3>Support</h3>
              <a href="">Frauds</a><br>
              <br>
              <a href="">Tips</a><br>
              <br>
              <a href="">Q&A</a><br>
              <br>
              <a href="">Setting</a><br>
          </td>
      </tr>
  </table>
</footer>