
<nav>
    <div class="nav">
        <img src="/img/logo.png" class="logo" alt="logo">
            <div class="nav-buttons">
                <button class="account_button"> 
                    <div class="wrap"> 
                        <img src="/img/profile.png" class="account"> 
                        <div class="text"> My Account </div>
                    </div>
                </button>
                <button class="post_ad"> Post an Ad </button>
            </div>
    </div>
</nav>
<main>
    <div class="about-us-img">
        <img src="/img/iphone_ad.jpg" class="iphone-img">
    </div>

    <div class="about-us-container">
        <h5 class="title-about-us">TERMS AND CONDITIONS</h5>
        <p class="about-us-content">
            Craig Newmark began the service in 1995 as an email distribution list to friends, featuring local events in the San Francisco Bay Area. It became a web-based service in 1996 and expanded into other classified categories. It started expanding to other U.S. cities in 2000, and now covers 70 countries. <br>
            <br>
            In March 2008, Spanish, French, Italian, German, and Portuguese became the first non-English languages Craigslist supported.[5] As of August 9, 2012, over 700 cities and areas in 70 countries had Craigslist sites.[6] Some Craigslist sites cover large regions instead of individual metropolitan areas—for example, the U.S. states of Delaware and Wyoming, the Colorado Western Slope, the California Gold Country, and the Upper Peninsula of Michigan are among the locations with their own Craigslist sites.[7] Craigslist sites for some large cities, such as Los Angeles, also include the ability for the user to focus on a specific area of a city (such as central Los Angeles).
            <br>
        </p>
    <div class="privacy-policy">
        <h5 class="title-about-us"> PRIVACY POLICY</h5>
        <p class="about-us-content">
            WELCOME TO CRAIGSLIST. 
            We (craigslist, Inc.) hope you find it useful. 
            By accessing or otherwise interacting with our servers, services, websites, mobile app ("App"), or any associated content/postings (together, "CL"), you agree to these Terms of Use ("TOU") (last updated August 16, 2019). 
            You acknowledge and agree CL is a private site owned and operated by craigslist, Inc. 
            If you are accessing or using CL on behalf of a business, you represent and warrant to CL that you have authority to accept the TOU on behalf of that business and that that business agrees to the TOU. 
            If you do not agree to the TOU, you are not authorized to use CL or download the App. 
            We may modify the TOU at any time in our sole discretion. 
            You are responsible for periodically checking for changes and are bound by them if you continue to use CL. 
            Our privacy policy (cl.com/about/privacy.policy), prohibited list (cl.com/about/prohibited), and all other policies, site rules, and agreements referenced below or on CL, are fully incorporated into this TOU, and you agree to them as well.
            <br>
        </p>
    </div>
    </div>
</main>

<footer class="centered">
    <table class="myTable">
        <tr>
            <td>
                <h3>Craigslist</h3>
                <a href="aboutus">About Us</a><br>
                <br>
                <a href="">Careers</a><br>
                <br>
                <a href="aboutus">Contact Us</a><br>
                <br>
                <a href="">Forum</a><br>
            </td>
            <td>
                        <h3>Info</h3>
                <a href="termsandcondition">Terms & Conditions</a><br>
                <br>
                <a href="termsandcondition">Privacy Policy</a><br>
                <br>
                <a href="events">Events</a><br>
            </td>
            <td>
                        <h3>Support</h3>
                <a href="">Frauds</a><br>
                <br>
                <a href="">Tips</a><br>
                <br>
                <a href="">Q&A</a><br>
                <br>
                <a href="">Setting</a><br>
            </td>
        </tr>
    </table>
  </footer>