body {
  margin: 0;
  width: 100%;
  background-color: #a29f9f;
  font-size: 24px;
}

/*      Homepage         */

.product-description {
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
}

.feature-row {
  align-items: center;
}

.main-header {
  color: white;
  width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 200;
  font-size: 64px;
}

.header-dots {
  width: 100%;
  text-align: center;
  align-self: center;
}

.main-background {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/home_page.png);
  background-size: cover;
  height: 769px;
}

.img-fluid {
  width: 100%;
  filter: brightness(40%);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  max-width: 45%;
  max-height: 45%;
}

.sub-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-left: 50px !important;
  padding-right: 80px !important;
}

.sub-nav .form-input {
  width: 60%;
}

.feature-row {
  display: flex;
  justify-content: space-between;
}

.feature-list {
  color: black !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
}

.column {
  flex: 30%;
  padding-bottom: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 10px;
}

.column .column-add {
  height: 250px;
}

.column-add {
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.column > p {
  padding-left: 10px;
  padding-top: 10px;
}

.list-text {
  color: black !important;
  font-family: Poppins !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 21px !important;
  /* padding: 1em; */
}

.section-layer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.section-title {
  padding-left: 20px;
}

/*    Selection Page    */

.column-add-preview {
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  height: 150px;
  width: 100%;
}

.main-selection-page-container {
  width: 100%;
}

.selection-page-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  flex-wrap: wrap;
  height: auto;
}

.menu_boxes:hover {
  background-color: #8860ea;
}

.user-detail-container {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.user-posting-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  border-radius: 4px;
  flex-wrap: wrap;
  height: auto;
}

.user-product-selection-image {
  width: 20%;
  border-radius: 4px;
  height: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px;
}

.user-product-image {
  width: 20%;
  border-radius: 4px;
  height: 190px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 5px;
  margin-bottom: 25px;
}

.user-account-posting-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.user-column {
  height: 40px;
}

.user-price {
  padding: 10px;
  margin: 0px;
}

.user-user {
  padding: 10px;
  margin: 0px;
}

/*    Ad Preview     */

.post-ad-name {
  font-size: 30px;
}

.user-name {
  font-size: 24 !important;
}

.column .column-add-preview {
  height: 400px;
}

.location-title {
  color: lightgray !important;
}

.favourite_button {
  background-color: #ee7074;
  color: white;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding-right: 10px;
  margin-right: 20px;
  border-radius: 5px;
  height: 100%;
  height: 30px;
  border: none;
}

.favourite_icon {
  color: white;
}

/*    My Account    */

.profile-container {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 4px;
  height: auto;
}

.profile {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_pic {
  height: 100px;
  border-radius: 50%;
}

.profile-name {
  margin-top: 10px;
}

.whole-posting-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.star_size {
  height: 25px;
}

.stars {
  display: flex;
  flex-direction: row;
}

.boxes > * {
  display: flex;
  /* align-items: center; */
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.posting-container {
  width: 80%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}

/*    Ad Preview    */

.user-details {
  margin-top: 60px;
}

.preview-ad-form {
  display: flex;
  justify-content: space-evenly;
}
.preview-ad-main-container {
  width: 100%;
}

.preview-container {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-evenly;
  /* align-items: center; */
}
.preview-container-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 120px;
}
.user-name {
  font-size: 25px;
}

.button-content-container {
  color: white;
  background-color: #4275fa;
  display: flex;
  justify-content: space-evenly;
  width: 9em;
  height: 2.5em;
  border-radius: 4px;
  border: none;
}

.prewiew-section1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.preview-section2 {
  display: flex;
  align-self: flex-start;
}

/*    post ad continue */

.button-content {
  color: white;
  background-color: #4275fa;
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  border-radius: 4px;
  padding: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*     post ad     */
.location_tag {
  width: 25px;
  height: 25px;
}

.location-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #999999;
}
.preview-section1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 50%;
}
.user-whole-posting-container {
  width: 12%;
}
.post-ad-title {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 15px;
  width: 20%;
  text-align: center;
}

.post-ad-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.post-ad-container > * {
  width: 70%;
  padding: 10px;
}

.continue-button {
  color: white;
  background-color: #4275fa;
  display: flex;
  justify-content: center;
  width: 10%;
  padding: 5px;
  border-radius: 4px;
  border: none;
}
.continue-button-container {
  width: 85%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
  padding: 10px;
}

.continue-button-container1 {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 10px;
}
/* My account */
.user-account-posting-containe {
  width: 70%;
}

/* About us */

.about-us-container {
  background-color: #f1ebff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 40px;
  margin: 60px;
  display: flex;
  flex-direction: column;
}

.office-img {
  max-width: 100%;
  height: 500px;
  border-radius: 4px;
  padding: 40px;
  margin: 20px;
}
.title-about-us {
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 54px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.contact-us-title {
  display: flex;
  text-align: center;
}
.about-us-content {
  display: flex;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
.contact-us-icon {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.about-us-bottom-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.contact-us-icon-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.event-img {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 0 !important;
}

.see-more-text {
  color: white;
  background-color: #4275fa;
  display: flex;
  justify-content: center;
  width: 10%;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  margin: auto auto 30px auto;
  border: none;
}

.see-more-text-container {
  display: flex;
  justify-content: center;
}

.about-us-bottom-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-us-icon-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* About us */

.nav-buttons {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  margin-right: 20px;
  padding: 10px;
}

.nav-buttons > * {
  display: flex;
  align-items: center;
}

.account {
  width: 20px;
}

.account_button {
  background-color: #ee7074;
  color: white;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding-right: 10px;
  margin-right: 20px;
  border-radius: 5px;
  height: 100%;
  border: none;
}

.wrap {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
}

.post_add {
  background-color: #8860ea;
  color: white;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding: 15px;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
}

.feature-listing {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding: 100px;
}

.feature-container > * {
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
}
.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  padding: 100px;
  padding-top: 20px !important;
}

.for-sale-container {
  background: #fefdff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.class-container {
  background: #fefdff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.housing-container {
  background: #fefdff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.services-container {
  background: #fefdff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.jobs-container {
  background: #fefdff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.community-container {
  background: #fefdff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Events */

.title-container {
  display: flex;
  justify-content: center;
}

.paragraph-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.paragraph-container > * {
  padding-right: 40px;
}

.about-us-container {
  display: flex;
  justify-content: start;
}

.about-us-img {
  display: flex;
  justify-content: center;
}

/* Events */

/* Terms and Condition */

.iphone-img {
  width: 100%;
  height: 900px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

/* Terms and Condition */

/* Footer */
.text-my-own-color {
  color: black !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.centered {
  display: flex;
  justify-content: center;
  background-color: #e3def0;
  margin-bottom: 0px;
  height: 310px;
  position: absolute;
  width: 100%;
  padding-top: 30px;
}

.footer-head {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 30px;
}

.myTable {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 100%;
}

/* Footer */

/*  Calender */

/* Month header */
.month {
  padding: 70px 25px;

  background: #8860ea;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
  font-weight: bold;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  border: 2px solid #8860ea;
  color: #8860ea !important;
  border-radius: 50%;
}

.calendar {
  width: 40em;
  height: 1em;
}

/*                                            MEDIA QUERY                             */

@media screen and (max-width: 414px) {
  body {
    margin: 0;
    color: black;
    width: 100%;
    font-family: "Roboto", sans-serif;
    position: absolute;
    margin-bottom: 50px;
  }

  .calendar {
    display: none;
  }
  .dot {
    display: none;
  }

  .main-header {
    font-size: 25px;
  }

  .list-text {
    font-size: 10px !important;
  }

  p {
    font-size: 10px;
  }

  .main-background {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(img/home_page.png);
    background-size: cover;
    height: 500px;
  }

  .feature-row {
    display: flex;
    justify-content: center;
  }

  .logo {
    max-width: 40%;
    max-height: 40%;
  }

  .logo-container {
    width: 35%;
    padding-left: 0;
    padding: 0;
  }

  .form-input {
    display: flex;
    justify-content: space-around;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  .nav-buttons {
    display: flex;
    justify-content: flex-end;
    width: 55%;
    margin-right: 0px;
    padding-right: 0px;
  }

  .feature-list {
    font-size: 20px;
  }
  .sub-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 10px !important;
    padding-right: 15px !important;
  }

  .account {
    width: 20px;
  }

  .account_button {
    background-color: #ee7074;
    color: white;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    height: 100%;
    border: none;
  }

  .post_add {
    background-color: #8860ea;
    color: white;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 100;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
  }

  .wrap {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
  }

  .text {
    display: none;
  }

  .login-form {
    margin-top: 5%;
    padding-left: 35%;
    padding-right: 35%;
  }

  /*  Footer  */
  .text-my-own-color {
    color: black !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }

  .centered {
    display: flex;
    justify-content: center;
    background-color: #e3def0;
    margin-bottom: 0px;
    height: 310px;
    position: absolute;
    width: 100%;
    padding-top: 30px;
  }

  .footer-head {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
  }

  .myTable {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
  }

  /*  Footer  */

  .logo {
    max-width: 100%;
    max-height: 100%;
  }

  .login-title {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .homepage-container {
    background-color: White;
    padding: 5px;
  }

  .craigslist-container {
    padding: 10px;
  }

  .info-container {
    padding: 10px;
  }

  .support-container {
    padding: 10px;
  }

  .feature-listing {
    padding: 10px;
  }

  .feature-container > * {
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
  }
  .feature-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 2fr;
    padding: 10px;
    margin-bottom: 30px;
  }
  .for-sale-container {
    background: #fefdff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .community-container {
    background: #fefdff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .housing-container {
    background: #fefdff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .services-container {
    background: #fefdff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .jobs-container {
    background: #fefdff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
  .calendar-container {
    background: #fefdff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  /*      about-us        */
  .about-us-container {
    background-color: #f1ebff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 40px;
    margin: 20px;
  }
  .office-img {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 300px;
    border-radius: 0px;
  }
  .title-about-us {
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 54px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact-us-title {
    display: flex;
    text-align: center;
  }
  .about-us-content {
    display: flex;
    text-align: center;
  }
  .contact-us-icon {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  .about-us-bottom-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
  }
  .contact-us-icon-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .about-us-bottom-content {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  /*      terms and condition        */
  .iphone-img {
    width: 100%;
    height: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  /*       events        */
  .event-img {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-bottom: 30px;
    height: 250px;
  }
  .see-more-text {
    color: white;
    background-color: #4275fa;
    display: flex;
    justify-content: center;
    width: 25%;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    margin: auto auto 30px auto;
    border: none;
  }
  .paragraph-container {
    display: block;
  }

  .paragraph-container > * {
    padding: 0;
  }

  /*       post ad        */

  .user-product-selection-image {
    width: 40%;
    border-radius: 4px;
    height: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
  }

  .preview-section2 {
    display: flex;
    align-self: center;
  }

  .user-details {
    margin-top: 20px;
  }

  .favourite_button {
    background-color: #ee7074;
    color: white;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding-right: 10px;
    margin-right: 20px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
  }

  .continue-button-container1 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 10px;
    height: auto;
  }
  .continue-button-container1 > * {
    width: auto;
    height: auto;
  }

  .post-ad-title {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    padding-left: 0px;
    width: 100%;
  }
  .post-ad-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .continue-button {
    color: white;
    background-color: #4275fa;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    width: 25%;
    border: none;
  }

  /*       Continue Post Ad        */
  .button-content {
    color: white;
    background-color: #4275fa;
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    border-radius: 4px;
    padding: 5px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .upload-container {
    width: 70%;
  }

  /*      Ad Preview        */

  .post-ad-name {
    font-size: 18px;
  }

  .preview-ad-form {
    display: flex;
    justify-content: space-evenly;
  }
  .preview-ad-main-container {
    width: 100%;
  }

  .preview-container {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: space-evenly;
    /* align-items: center; */
  }
  .preview-container-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .button-content-container {
    color: white;
    background-color: #4275fa;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    border-radius: 4px;
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
  }

  .prewiew-section1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  /*      Homepage         */

  .row {
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .column > * {
    height: 20px;
  }

  .column {
    flex: 15%;
    padding-bottom: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin: 10px;
  }

  .column .column-add {
    height: 100px;
  }

  .column .column-add-preview {
    height: 100px;
  }

  .column-add {
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .column > p {
    padding-left: 10px;
    padding-top: 10px;
  }

  .list-text {
    color: black !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }

  .section-layer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
  }
  .section-title {
    padding-left: 5px;
  }

  /*      POST AD      */
  .continue-button-container {
    display: flex;
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }

  /*    My Account      */
  .profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0;
    padding: 0px;
    height: auto;
  }

  .profile {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile_pic {
    height: 50px;
    border-radius: 50%;
  }

  .user-whole-posting-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: 0px;
    width: 40%;
    height: 550px;
  }

  .user-account-posting-container {
    width: 100%;
  }

  .user-posting-container {
    width: 50%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
  }

  .whole-posting-container {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
  }

  .star_size {
    height: 15px;
  }

  .stars {
    display: flex;
    flex-direction: row;
  }

  .boxes > * {
    display: flex;
    /* align-items: center; */
    align-self: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .posting-container {
    width: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
  }

  .user-product-image {
    width: 80%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5px;
    height: 180px;
    margin-bottom: 15px;
  }

  .user-detail-container {
    display: flex;
    flex-direction: column;
  }

  .user-user {
    padding: 1px;
  }

  .user-price {
    padding: 1px;
    padding-top: 0px;
  }

  .menu_boxes {
    text-align: left;
  }
}
