body {
    margin: 0;
    width: 100%;
}

/* About us */

.about-us-container {
    background-color: #F1EBFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 40px;
    margin: 60px;
    display: flex;
    flex-direction: column;
}

.office-img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 40px;
    margin: 20px;
}
.title-about-us {
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 50px;
}
.contact-us-title {
    display: flex;
    text-align: center;
}
.about-us-content {
    display: flex;
    text-align:  left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    
}
.contact-us-icon {
    max-width: 20%;
    max-height: 20%;
    padding: 5px;
}
.about-us-bottom-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.contact-us-icon-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.event-img {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 0 !important;
}

.see-more-text {
    color: white;
    background-color: #4275FA;
    display: flex;
    justify-content: center;
    width: 10%;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    margin: auto auto 30px auto;
}

.see-more-text-container {
    display: flex;
    justify-content: center;
}
/* About us */

.logo-container{
    padding: 10px;
    width: 40%;
    padding-left: 40px;
    margin-left: 20px;
}

.form-input {
    display: flex;
    justify-content: space-around;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.nav-buttons {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    margin-right: 20px;
    padding: 10px;
}

.nav-buttons > * {
    display: flex;
    align-items: center;
}

.sub-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.account {
    width:20px;
}

.account_button {
background-color:#EE7074;
color:white;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 100;
padding-right: 10px;
margin-right: 20px;
border-radius: 5px;
}

.wrap {
    flex-direction:row;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.text {
    padding-left: 10px;
    padding-right: 10px;
}


.post_add {
    background-color:#8860EA;
    color:white;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 15px;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
}  

.feature-listing {
    padding: 30px
}

.feature-container > * {
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
}
.feature-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
}

.for-sale-container {
    background: #FEFDFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.class-container {
    background: #FEFDFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.housing-container {
    background: #FEFDFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.services-container {
    background: #FEFDFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.jobs-container {
    background: #FEFDFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
} 

/* Events */

.title-container {
    display: flex;
    justify-content: center;
}

.paragraph-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.paragraph-container > *{
    padding-right: 40px;
}

.about-us-container {
    display: flex;
    justify-content: start;
}

.about-us-img {
    display: flex;
    justify-content: center;
}


/* Events */


/* Footer */
.text-my-own-color {
    color: black !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.centered{
    display: flex;
    justify-content: center;
    background-color:#E3DEF0;
    margin-bottom: 0px;
    height: 310px;
    position: absolute;
    width:100%;
    padding-top: 30px;
}


.footer-head {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 30px;
}

.myTable {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
}

/* Footer */


@media screen and (max-width: 414px) {

    body {
        margin: 0;
        color: black;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        margin-bottom: 50px;
    }

    .logo{
        max-width: 40%;
        max-height: 40%;
        /* display: block; */
    }

    .logo-container {
        width: 35%;
        padding-left: 0;
        padding: 0;
    }

    .form-input {
        display: flex;
        justify-content: space-around;
    }
    
    .nav {
        display: flex;
        justify-content: space-around;
    }
    
    .nav-buttons {
        display: flex;
        justify-content: flex-end;
        width: 55%;
        margin-right: 10px;
    } 
    
    .sub-nav {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
    
    .account {
        width:20px;
    }

    .account_button {
    background-color:#EE7074;
    color:white;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
    }

    .post_add {
        background-color:#8860EA;
        color:white;
        border-radius: 4px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 100;
        border-radius: 5px;
        padding-left: 25px;
        padding-right: 25px;
    }  

    .wrap {
        flex-direction:row;
        display:flex;
        justify-content: center;
        align-items: center;
        padding-right: 5px;
        padding-left: 5px;
        margin: 0;
    }

    .text {
        display: none;
    }
    

    
    .login-form {

        margin-top: 5%;
        padding-left: 35%;
        padding-right: 35%;
    }
    
    /*  Footer  */
    .text-my-own-color {
        color: black !important;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
    }
    
    .centered{
        display: flex;
        justify-content: center;
        background-color:#E3DEF0;
        margin-bottom: 0px;
        height: 310px;
        position: absolute;
        width:100%;
        padding-top: 30px;
    }
    
    
    .footer-head {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
    }
    
    .myTable {
        display: flex;
        text-align: center;
        justify-content: space-around;
        width: 100%;
    }

    /*  Footer  */


    .logo{
        max-width: 100%;
        max-height: 100%;
    }
    
    
    .login-title {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .homepage-container {
        background-color: White;
        padding: 5px;
    }
    
    .craigslist-container {
        padding: 10px;
    }

    .info-container {
        padding: 10px;
    }

    .support-container {
        padding: 10px;
    }

    .feature-listing {
        padding: 30px
    }
    
    .feature-container > * {
        padding: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }
    .feature-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 2fr;
        padding: 10px;
    }
    .for-sale-container {
        background: #FEFDFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    
    .community-container {
        background: #FEFDFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    }
    
    .housing-container {
        background: #FEFDFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    }
    
    .services-container {
        background: #FEFDFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    }
    
    .jobs-container {
        background: #FEFDFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
    
    /*      about-us        */
    .about-us-container {
        background-color: #F1EBFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        padding: 40px;
        margin: 20px;
    }
    .office-img {
        width: 100%;
        padding: 0px;
        margin: 0px;
        height: auto;
        /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    }
    .title-about-us {
        display: flex;
        justify-content: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 54px;
        text-align: center;
    }
    .contact-us-title {
        display: flex;
        text-align: center;
    }
    .about-us-content {
        display: flex;
        text-align:  center;
    }
    .contact-us-icon {
        max-width: 20%;
        max-height: 20%;
        padding: 5px;
    }
    .about-us-bottom-container {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
    .contact-us-icon-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }


    /*      terms and condition        */
    .iphone-img {
        width: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    /*       events        */
    .event-img {
        width: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        margin-bottom: 30px;
    }
    .see-more-text {
        color: white;
        background-color: #4275FA;
        display: flex;
        justify-content: center;
        width: 25%;
        font-size: 12px;
        padding: 5px;
        border-radius: 5px;
        margin: auto auto 30px auto;
    }
    .paragraph-container {
        display: block;
    }

    .paragraph-container > *{
        padding: 0;
    }
    
    /*       post ad        */
    .post-ad-title {
        display: flex;
        padding: 20px;
    }
    .post-ad-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .post-ad-container > * {
        width: 70%;
        padding: 10px;
    }
    .continue-button {
        color: white;
        background-color: #4275FA;
        display: flex;
        justify-content: center;
        width: 25%;
        border-radius: 2px;
        margin: auto 30px 30px auto;
    }

    /*       Continue Post Ad        */
    .button-content {
        color: white;
        background-color: #4275FA;
        display: flex;
        justify-content: center;
        width: 25%;
        border-radius: 2px;
        margin: auto 30px 30px auto;
    }
    .button-container {
        display: flex;
        justify-content: space-between;

    }
    .upload-container {
        width: 70%;
    }

    /*      Ad Preview        */


    /*      Calender          */
}